section.page-footer
  .page-footer__up
    .container
      .row
        .col-12.col-md-4.col-lg-3.col-xl-3
          .page-footer__block
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") Полезное
                h4.footer-list__caption.footer-list__caption--mob Полезное
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")    
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") МУП «Водоканал»
                li.footer-list__item
                  a.footer-list__link(href="#") МБУ «Безопасный город»
                li.footer-list__item
                  a.footer-list__link(href="#") Полезное
                li.footer-list__item
                  a.footer-list__link(href="#") Эвакуация автотранспорта
                li.footer-list__item
                  a.footer-list__link(href="#") Постановления
                li.footer-list__item
                  a.footer-list__link(href="#") Решения городской думы
            .page-footer__wrap
              a.page-footer__tel(href="tel:") 8 (8617) 646-405
              span.page-footer__text-bold Телефон горячей линии
              .social
                ul.social__list
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#vk")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#youtube")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#odnoklassniki")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#twiter")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#instagram")
        .col-12.col-md-4.col-lg-3.col-xl-3
          .page-footer__block
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") Новости
                h4.footer-list__caption.footer-list__caption--mob Новости
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") Главные новости
                li.footer-list__item
                  a.footer-list__link(href="#") Новости районов
                li.footer-list__item
                  a.footer-list__link(href="#") Новости подразделений
                li.footer-list__item
                  a.footer-list__link(href="#") Новости Думы
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") О городе
                h4.footer-list__caption.footer-list__caption--mob О городе
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") История города
                li.footer-list__item
                  a.footer-list__link(href="#") Официальные символы города
                li.footer-list__item
                  a.footer-list__link(href="#") Районы города
                li.footer-list__item
                  a.footer-list__link(href="#") Паспорт города
                li.footer-list__item
                  a.footer-list__link(href="#") Электронный экономический каталог
                li.footer-list__item
                  a.footer-list__link(href="#") Новороссийск в лицах
                li.footer-list__item
                  a.footer-list__link(href="#") Бессмертный полк — Новороссийск
                li.footer-list__item
                  a.footer-list__link(href="#") Гостям города
                li.footer-list__item
                  a.footer-list__link(href="#") Крейсер боевой славы «Михаил Кутузов»
                li.footer-list__item
                  a.footer-list__link(href="#") Отдохнуть за городом
        .col-12.col-md-4.col-lg-3.col-xl-3
          .page-footer__block
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") Горожанам
                h4.footer-list__caption.footer-list__caption--mob Горожанам
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") Пресс-центр
                li.footer-list__item
                  a.footer-list__link(href="#") Избирательные комиссии
                li.footer-list__item
                  a.footer-list__link(href="#") Городская среда
                li.footer-list__item
                  a.footer-list__link(href="#") Управление МВД России по городу Новороссийск
                li.footer-list__item
                  a.footer-list__link(href="#") Центр Занятости населения
                li.footer-list__item
                  a.footer-list__link(href="#") Муниципальные услуги
                li.footer-list__item
                  a.footer-list__link(href="#") Антикоррупция
                li.footer-list__item
                  a.footer-list__link(href="#") Антитеррор
                li.footer-list__item
                  a.footer-list__link(href="#") Антинарко
                li.footer-list__item
                  a.footer-list__link(href="#") Соцзащита разъясняет
                li.footer-list__item
                  a.footer-list__link(href="#") Безопасность дорожного движения
                li.footer-list__item
                  a.footer-list__link(href="#") Градостроительная деятельность
                li.footer-list__item
                  a.footer-list__link(href="#") Школа по охране труда
                li.footer-list__item
                  a.footer-list__link(href="#") Новороссийский Благотворительный Фонд Помощи Больным Детям «Спаси и Сохрани»
                li.footer-list__item
                  a.footer-list__link(href="#") Правовое просвещение
        .offset-sm-0.col-12.offset-md-4.col-md-8.offset-lg-0.col-lg-3.col-xl-3
          .page-footer__block.page-footer__block--flex
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") Органы власти
                h4.footer-list__caption.footer-list__caption--mob Органы власти
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") Администрация
                li.footer-list__item
                  a.footer-list__link(href="#") Городская дума
                li.footer-list__item
                  a.footer-list__link(href="#") Контрольно-счетная палата
                li.footer-list__item
                  a.footer-list__link(href="#") Общественная палата
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") Подразделения
                h4.footer-list__caption.footer-list__caption--mob Подразделения
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") Управления
                li.footer-list__item
                  a.footer-list__link(href="#") Отделы
                li.footer-list__item
                  a.footer-list__link(href="#") Муниципальные бюджетные и унитарные учреждения
            .footer-list
              .footer-list__up
                a.footer-list__caption(href="#") Документы
                h4.footer-list__caption.footer-list__caption--mob Документы
                svg.footer-list__svg-arrow
                  use(xlink:href="img/sprite.svg#arrow-down")
              ul.footer-list__list
                li.footer-list__item
                  a.footer-list__link(href="#") Документы администрации
                li.footer-list__item
                  a.footer-list__link(href="#") Документы городской Думы
                  
section.footer-down
  .container
    .row
      .col-xl-12
        .footer-down__wrapper
          .row
            .col-md-4.col-lg-3.col-xl-3
              .footer-down__block
                span.footer-down__text Все материалы сайта доступны по лицензии: 
                a.footer-down__copyright(href="#") Creative Commons Attribution 3.0
                span.footer-down__text Создание сайта - <a href="#">Very-Good</a>
            .col-md-8.col-lg-9.col-xl-9
              .row
                .col-md-6.col-lg-4.col-xl-4
                  .footer-down__item
                    a.footer-down__link(href="#") Избирательные комиссии
                .col-md-6.col-lg-4.col-xl-4    
                  .footer-down__item  
                    a.footer-down__link(href="#") Карта сайта
                .col-md-6.col-lg-4.col-xl-4    
                  .footer-down__item
                    a.footer-down__link(href="#") Технические сведения
                .col-md-6.col-lg-4.col-xl-4    
                  .footer-down__item  
                    a.footer-down__link(href="#") Редакция сайта
                .col-md-6.col-lg-4.col-xl-4    
                  .footer-down__item
                    a.footer-down__link(href="#") Старая версия сайта
              
  
            
            
              
              
//include modal.pug              