section.up-row
  .container
    .row
      .col-xl-12
        .up-row__container
          .up-row__wrapper
            a.up-row__left(href="#")
              svg.up-row__eye
                use(xlink:href="img/sprite.svg#eye")
              span.up-row__text Версия для слабовидящих
            .up-row__right
              span.up-row__text Мы в социальных сетях:
              .social
                ul.social__list
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#vk")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#youtube")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#odnoklassniki")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#twiter")
                  li.social__item
                    a.social__link(href="#")
                      svg.social__svg
                        use(xlink:href="img/sprite.svg#instagram")
section.header-down
  .container
    .row
      .col-xl-12.no-relative
        .header-down__container
          .header-down__wrap-up
            .header-down__up
              .container
                .header-down__flex
                  .header-down__left
                    a(href="index.html")
                      img.header-down__logo(src="img/logo.png")
                  .my-nav
                    .my-close
                      span.my-close__text закрыть
                      .my-close__block
                        .my-close__line
                        .my-close__line
                    ul.my-nav__list
                      li.my-nav__item
                        .my-nav__row
                          a.my-nav__link(href="#") Новости
                          span.my-nav__link.my-nav__link--mob Новости
                          .my-nav__wrap-svg
                            svg.my-nav__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-down")
                        .drop-down
                          ul.drop-down__list
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text История города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Официальные символы город
                            li.drop-down__item.drop-down__item--active
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Районы города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Паспорт города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Электронный экономический каталог
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Новороссийск в лицах
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Бессмертный полк — Новороссийск
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Гостям города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Крейсер боевой славы «Михаил Кутузов»
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Отдохнуть за городом
                      li.my-nav__item
                        .my-nav__row
                          a.my-nav__link(href="#") О городе
                          span.my-nav__link.my-nav__link--mob О городе
                          .my-nav__wrap-svg
                            svg.my-nav__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-down")
                        .drop-down
                          ul.drop-down__list
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text История города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Официальные символы город
                            li.drop-down__item.drop-down__item--active
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Районы города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Паспорт города    
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Электронный экономический каталог
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Новороссийск в лицах
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Бессмертный полк — Новороссийск
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Гостям города
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Крейсер боевой славы «Михаил Кутузов»
                            li.drop-down__item
                              a.drop-down__link(href="#")
                                .drop-down__flex
                                  .drop-down__wrap-svg
                                    svg.drop-down__svg
                                      use(xlink:href="img/sprite.svg#arrow-right")
                                  span.drop-down__text Отдохнуть за городом
                      li.my-nav__item
                        .my-nav__row
                          a.my-nav__link(href="#") Горожанам
                          span.my-nav__link.my-nav__link--mob Горожанам
                          .my-nav__wrap-svg
                            svg.my-nav__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-down")
                      li.my-nav__item
                        .my-nav__row
                          a.my-nav__link(href="#") Органы власти
                          span.my-nav__link.my-nav__link--mob Органы власти
                          .my-nav__wrap-svg
                            svg.my-nav__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-down")
                      li.my-nav__item
                        .my-nav__row
                          a.my-nav__link(href="#") Подразделения
                          span.my-nav__link.my-nav__link--mob Подразделения
                          .my-nav__wrap-svg
                            svg.my-nav__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-down")
                      li.my-nav__item
                        .my-nav__row
                          a.my-nav__link(href="#") Документы
                          span.my-nav__link.my-nav__link--mob Документы
                          .my-nav__wrap-svg
                            svg.my-nav__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-down")
                  .header-down__right      
                    .burger
                      .burger__wrap
                        span.burger__text меню
                        .burger__block
                          .burger__line
                          .burger__line
                          .burger__line
                    .search-block                
                      form.search-block__form
                        span.search-block__text поиск по сайту
                        input.search-block__field(type="search" placeholder="Введите ключевое слово")
                        button.search-block__btn
                          svg.search-block__svg
                            use(xlink:href="img/sprite.svg#search")
                          span.search-block__text найти
                        .search-block__click
                          span.search-block__text-close <span>закрыть</span>
                    svg.search-block__svg.open-search
                      use(xlink:href="img/sprite.svg#search")
          .header-down__down
            .header-down__left-block
              span.header-down__sm-text Официальный сайт администрации и Думы
              h1.header-down__title муниципального образования город-герой Новороссийск
            .header-down__right-block
              .header-btn
                span.header-btn__text Написать в приемную
                svg.header-btn__svg
                  use(xlink:href="img/sprite.svg#mail")
              .header-btn
                span.header-btn__text Связь с администрацией
                svg.header-btn__svg
                  use(xlink:href="img/sprite.svg#message")
  