script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="js/jquery.datepicker.extension.range.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
script(src="js/modernizr.js")
//script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
script(src="js/jquery.mask.min.js")
script(src="js/swiper.min.js")
script(src="js/main.js")