doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Администрация и Дума города Новороссийска
    
    include includes/link.pug
    
  body
    header
      include includes/header.pug
    main
      section.breadcrumbs
        .container
          .row
            .col-xl-12
              ul.breadcrumbs__list
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Документы  
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Документы администрации
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Общие документы
                li.breadcrumbs__item
                  span.breadcrumbs__link.breadcrumbs__link--active Результаты проведения специальной оценки условий труда рабочих мест в администрации муниципального образования город Новороссийск
      section.inner-wrap.document-wrapper
        .container
          .row    
            .col-lg-12.col-xl-12
              .inner-row-title
                .inner-row-title__up
                  span.date-news 31 Января 2019 (09:39)
                  a.post-news__categories(href="#") Решение
                h2.inner-row-title__title Результаты проведения специальной оценки условий труда рабочих мест в администрации муниципального образования город Новороссийск
                .inner-row-title__down
                  .share
                    span.share__text Поделиться:
                    .share__wrapper
                      a.share__link(href="#")
                        svg.share__svg
                          use(xlink:href="img/sprite.svg#vk")
                      a.share__link(href="#")
                        svg.share__svg
                          use(xlink:href="img/sprite.svg#facebook")
                      a.share__link(href="#")
                        svg.share__svg
                          use(xlink:href="img/sprite.svg#twiter")
                  .header-btn.header-btn--none
                    span.header-btn__text Распечатать
                    svg.header-btn__svg
                      use(xlink:href="img/sprite.svg#print")
              .document-inner
                .document-inner__area
                  p В Новороссийске 14 марта прошло первое выездное заседание Общественного экологического совета при главе администрации (губернаторе) Краснодарского края под председательством вице-губернатора Сергея Болдина, при участии представителей краевых общественных и экологических организаций, контролирующих органов и администрации города.
                  p Главными вопросами повестки заседания стало обсуждение проблемных вопросов сохранения популяций редких и исчезающих биологических видов растений и животных, занесенных в Красную книгу Российской Федерации и Краснодарского края, а также соблюдения природоохранного законодательства при осуществлении работ по добыче мергеля на хребте Маркотх.
                  p Для проверки информации, поступавшей от новороссийских общественников и экологов, об уничтожении редких краснокнижных растений на территории, примыкающей к ООПТ «Прилагунье вице-губернатор Сергей Болдин вместе с участниками Общественного экологического совета и представителями администрации города выехали к особо охраняемой природной территории. 
                  p Как рассказал заместитель главы администрации города Дмитрий Агапов, сохранность и соблюдение всех необходимых природоохранных режимов территории «Прилагунья» находятся на контроле администрации города. Два участка, примыкающие к ООПТ, являются муниципальной собственностью и на данный момент переданы по договору аренды строительной компании для возведения гостиницы в соответствии с правилами землепользования и застройки и Генеральным планом муниципального образования. 
                  p Антон Попович, руководитель комиссии по охране и изучению природных экосистем Западного Кавказа Краснодарского регионального отделения Русского географического общества, сообщил, что на территории, выделенной под строительство гостиницы, находятся редкие краснокнижные растения, которые в последнее время уничтожаются строительной техникой. Эколог также предложил участки, отведенные под строительство, а также еще один, пока незастроенный, участок присоединить к особо охраняемой территории «Прилагунье» с целью предотвращения уничтожения редчайших видов растений.
                .document-inner__wrapper
                  .document-inner__row
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .docx
                      .link-doc__block-text
                        h3.link-doc__name Распоряжение администрации муниципального образования город Новороссийск от 20.11.2015 г. № 212-од
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>605 KB</span>
                  .document-inner__row          
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .xls
                      .link-doc__block-text
                        h3.link-doc__name Сводная ведомость результатов проведения специальной оценки условий труда (2018 год)
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>120 KB</span>
                  .document-inner__row        
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .pdf
                      .link-doc__block-text
                        h3.link-doc__name Федеральный закон от 28.12.2013 N 426-ФЗ "О специальной оценке условий труда"
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>1,2 MB</span>
                  .document-inner__row        
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .zip
                      .link-doc__block-text
                        h3.link-doc__name Cпециальная оценка условий труда (2018 год)
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>480 KB</span>
              
                              
            
                              
      section.portal-slider.portal-slider--border
        .container
          .row
            .col-xl-12
              .portal-slider__container
                .portal-slider__line.swiper-container
                  .portal-slider__wrapper.swiper-wrapper
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Правительство РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem1.png")
                              span.portal-slider__text goverment.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Государственная дума РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem2.png")
                              span.portal-slider__text duma.gov.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Конституционный Суд РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem3.png")
                              span.portal-slider__text ksrf.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Администрация Краснодарского края
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem4.png")
                              span.portal-slider__text admkrai.krasnodar.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title ГКУ КК «ГосЮрБюро Краснодарского края»
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem5.png")
                              span.portal-slider__text gosurburo93.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Правительство РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem1.png")
                              span.portal-slider__text goverment.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                .portal-slider__down
                  .portal-slider__arrow.portal-slider__arrow--prev
                    .portal-slider__wrap-svg
                      svg
                        use(xlink:href="img/sprite.svg#arrow-right")
                  .portal-slider__arrow.portal-slider__arrow--next
                    .portal-slider__wrap-svg
                      svg
                        use(xlink:href="img/sprite.svg#arrow-right")                        
                    
        
      
    footer
      include includes/footer.pug
      
                     
                   
    include includes/script.pug