doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Администрация и Дума города Новороссийска
    
    include includes/link.pug
    
  body
    header
      include includes/header.pug
    main
      section.breadcrumbs
        .container
          .row
            .col-xl-12
              ul.breadcrumbs__list
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Новости  
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Главные новости   
                li.breadcrumbs__item
                  span.breadcrumbs__link.breadcrumbs__link--active Общественный экологический совет при губернаторе Краснодарского края провел выездное заседание в Новороссийске
      section.inner-wrap          
        .container
          .row              
            .col-lg-12.col-xl-9
              .inner-row-title
                .row
                  .col-xl-12
                    .news-inner-info.news-inner-info--change
                      span.date-news 31 Января 2019 (09:39)
                      span.post-news__yellow-line 34 фото  
                    h2.inner-row-title__title Общественный экологический совет при губернаторе Краснодарского края провел выездное заседание в Новороссийске
                    .inner-row-title__down
                      .share
                        span.share__text Поделиться: 
                        .share__wrapper
                          a.share__link(href="#")
                            svg.share__svg
                              use(xlink:href="img/sprite.svg#vk")
                          a.share__link(href="#")
                            svg.share__svg
                              use(xlink:href="img/sprite.svg#facebook")
                          a.share__link(href="#")
                            svg.share__svg
                              use(xlink:href="img/sprite.svg#twiter")
              .news-inner.news-inner--change
                .news-inner-slider
                  .news-inner-slider__left.swiper-container.gallery-top
                    .news-inner-slider__wrap.swiper-wrapper
                      .news-inner-slider__slide-lg.swiper-slide
                        img.news-inner-slider__img-lg(src="img/news-inner-slider-img1.jpg")
                      .news-inner-slider__slide-lg.swiper-slide
                        img.news-inner-slider__img-lg(src="img/news-inner-slider-img1.jpg")
                      .news-inner-slider__slide-lg.swiper-slide
                        img.news-inner-slider__img-lg(src="img/news-inner-slider-img1.jpg")
                      .news-inner-slider__slide-lg.swiper-slide
                        img.news-inner-slider__img-lg(src="img/news-inner-slider-img1.jpg")
                      .news-inner-slider__slide-lg.swiper-slide
                        img.news-inner-slider__img-lg(src="img/news-inner-slider-img1.jpg")
                      .news-inner-slider__slide-lg.swiper-slide
                        img.news-inner-slider__img-lg(src="img/news-inner-slider-img1.jpg")
                    .news-inner-slider__nav
                      .news-inner-slider__arrow.news-inner-slider__arrow--prev
                        svg.news-inner-slider__svg-arrow
                          use(xlink:href="img/sprite.svg#arrow-news")
                      .news-inner-slider__arrow.news-inner-slider__arrow--next
                        svg.news-inner-slider__svg-arrow
                          use(xlink:href="img/sprite.svg#arrow-news")
                  .news-inner-slider__right.swiper-container.gallery-thumbs
                    .news-inner-slider__column.swiper-wrapper
                      .news-inner-slider__slide-sm.swiper-slide
                        img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img1.jpg")
                      .news-inner-slider__slide-sm.swiper-slide
                        img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img2.jpg")
                      .news-inner-slider__slide-sm.swiper-slide
                        img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img3.jpg")
                      .news-inner-slider__slide-sm.news-inner-slider__slide-sm--hide.swiper-slide
                        img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img1.jpg")
                      .news-inner-slider__slide-sm.news-inner-slider__slide-sm--hide.swiper-slide
                        img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img2.jpg")
                      .news-inner-slider__slide-sm.news-inner-slider__slide-sm--hide.swiper-slide
                        img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img3.jpg")
                        
                      .news-inner-slider__slide-sm.news-inner-slider__slide-sm--value
                        .news-inner-slider__item
                          img.news-inner-slider__img-sm(src="img/news-inner-slider-sm-img-value.jpg")
                          .news-inner-slider__number-wrap +
                            span.news-inner-slider__number
                        
                .news-inner__area
                  p В Новороссийске 14 марта прошло первое выездное заседание Общественного экологического совета при главе администрации (губернаторе) Краснодарского края под председательством вице-губернатора Сергея Болдина, при участии представителей краевых общественных и экологических организаций, контролирующих органов и администрации города.
                  p Главными вопросами повестки заседания стало обсуждение проблемных вопросов сохранения популяций редких и исчезающих биологических видов растений и животных, занесенных в Красную книгу Российской Федерации и Краснодарского края, а также соблюдения природоохранного законодательства при осуществлении работ по добыче мергеля на хребте Маркотх.
                  p Для проверки информации, поступавшей от новороссийских общественников и экологов, об уничтожении редких краснокнижных растений на территории, примыкающей к ООПТ «Прилагунье вице-губернатор Сергей Болдин вместе с участниками Общественного экологического совета и представителями администрации города выехали к особо охраняемой природной территории. 
                  p Как рассказал заместитель главы администрации города Дмитрий Агапов, сохранность и соблюдение всех необходимых природоохранных режимов территории «Прилагунья» находятся на контроле администрации города. Два участка, примыкающие к ООПТ, являются муниципальной собственностью и на данный момент переданы по договору аренды строительной компании для возведения гостиницы в соответствии с правилами землепользования и застройки и Генеральным планом муниципального образования. 
                  p Антон Попович, руководитель комиссии по охране и изучению природных экосистем Западного Кавказа Краснодарского регионального отделения Русского географического общества, сообщил, что на территории, выделенной под строительство гостиницы, находятся редкие краснокнижные растения, которые в последнее время уничтожаются строительной техникой. Эколог также предложил участки, отведенные под строительство, а также еще один, пока незастроенный, участок присоединить к особо охраняемой территории «Прилагунье» с целью предотвращения уничтожения редчайших видов растений.
                  
                  
                  .inner-nav
                    .inner-nav__wrapper
                      .inner-nav__block
                        .inner-nav__prev
                          .block-btn.block-btn--change
                            button.block-btn__btn
                              .block-btn__wrap
                                svg.block-btn__svg
                                  use(xlink:href="img/sprite.svg#arrow-right")
                              span.block-btn__text Назад к списку

                            
            .col-lg-12.col-xl-3
              .over-news
                h2.title Рекомендуем
                .over-news__wrapper
                  .row
                    .col-12.col-md-6.col-lg-6.col-xl-12
                      a.post-news(href="#")
                        .post-news__up
                          .arrow-square
                            svg.arrow-square__svg
                              use(xlink:href="img/sprite.svg#arrow-news")
                          picture
                            source(srcset="img/news-mob-sm2.jpg" media="(max-width: 575px)")
                            img.post-news__img(src="img/news-sm2.jpg")
                          span.post-news__yellow-line 34 фото  
                        .post-news__block-text
                          h4.post-news__caption Cоблюдайте правила техники безопасности при обращении со свечами на акции «Бескозырка»!
                          span.date-news 31 Января 2019 (09:39)
                    .col-12.col-md-6.col-lg-6.col-xl-12        
                      a.post-news(href="#")
                        .post-news__up
                          .arrow-square
                            svg.arrow-square__svg
                              use(xlink:href="img/sprite.svg#arrow-news")
                          picture
                            source(srcset="img/news-mob-sm1.jpg" media="(max-width: 575px)")
                            img.post-news__img(src="img/news-sm1.jpg")
                            span.post-news__yellow-line 34 фото  
                        .post-news__block-text
                          h4.post-news__caption Полная программа Всероссийской патриотической акции «Бескозырка»
                          span.date-news 31 Января 2019 (09:39)
            
                              
      section.portal-slider.portal-slider--border
        .container
          .row
            .col-xl-12
              .portal-slider__container
                .portal-slider__line.swiper-container
                  .portal-slider__wrapper.swiper-wrapper
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Правительство РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem1.png")
                              span.portal-slider__text goverment.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Государственная дума РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem2.png")
                              span.portal-slider__text duma.gov.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Конституционный Суд РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem3.png")
                              span.portal-slider__text ksrf.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Администрация Краснодарского края
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem4.png")
                              span.portal-slider__text admkrai.krasnodar.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title ГКУ КК «ГосЮрБюро Краснодарского края»
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem5.png")
                              span.portal-slider__text gosurburo93.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Правительство РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem1.png")
                              span.portal-slider__text goverment.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                .portal-slider__down
                  .portal-slider__arrow.portal-slider__arrow--prev
                    .portal-slider__wrap-svg
                      svg
                        use(xlink:href="img/sprite.svg#arrow-right")
                  .portal-slider__arrow.portal-slider__arrow--next
                    .portal-slider__wrap-svg
                      svg
                        use(xlink:href="img/sprite.svg#arrow-right")                        
                    
        
      
    footer
      include includes/footer.pug
      
                     
                   
    include includes/script.pug