doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Администрация и Дума города Новороссийска
    
    include includes/link.pug
    
  body
    header
      include includes/header.pug
    main
      section.breadcrumbs
        .container
          .row
            .col-xl-12
              ul.breadcrumbs__list
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Связь с администрацией
                li.breadcrumbs__item
                  span.breadcrumbs__link.breadcrumbs__link--active Приемная главы МО г. Новороссийск
      section.inner-wrap
        .container
          .row    
            .col-lg-12.col-xl-12
              .inner-row-title
                h2.inner-row-title__title Приемная главы МО г. Новороссийск
              
              .document-inner.document-inner--change
                .document-inner__area
                  p <b>Информация для ознакомления, желающим отправить обращение в форме электронного документа</b>
                  p Пожалуйста, прежде чем отправить обращение в форме электронного документа, внимательно ознакомьтесь со следующей информацией.
                  ul
                    li Обращения, направленные в форме электронного документа через официальный сайт, поступают на рассмотрение в [наименование органа].
                  p <em>Орган – государственный орган, территориальный орган государственного органа, орган местного самоуправления, государственное или муниципальное учреждение, иная организация, на которую возложено осуществление публично значимых функций (примечание авт.)</em>
                  ol
                    li Перед отправкой обращения в форме электронного документа необходимо корректно заполнить электронную форму.
                    li Ответ на Ваше обращение либо уведомление о его переадресации направляется в форме электронного документа по адресу электронной почты (e-mail), указанному Вами.
                    li В предназначенном для обязательного заполнения поле ввода текста обращения в форме электронного документа Вы излагаете суть предложения, заявления или жалобы в соответствии со ст. 7 Федерального закона от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации».
                  p В случае, если текст Вашего обращения не позволяет определить суть предложения, заявления или жалобы, ответ на обращение не дается, и оно не подлежит направлению на рассмотрение в государственный орган, орган местного самоуправления или должностному лицу, в соответствии с их компетенцией, о чем Вам будет сообщено в течение семи дней со дня регистрации обращения.
                  p Текст в электронной форме, набранный и отправленный через информационный ресурс «Личный кабинет», сохраняется и отображается в «Личном кабинете» автора.
                  p <em>При наличии в органе (примечание авт.)</em>
                  p Обращаем внимание, что в целях обеспечения неразглашения сведений, содержащихся в Вашем обращении, а также сведений, касающихся Вашей частной жизни, при заполнении поля ввода текста обращения в форме электронного документа действует защита от возможного внедрения вирусных программ.
                  p <em>Запрет на копирование и перенос текста в электронной форме в поле ввода текста обращения в форме электронного документа (примечание авт.)</em>
                  ul
                    li В случае необходимости в подтверждение своих доводов Вы вправе приложить к обращению необходимые документы и материалы в электронной форме.	
                  p Приложить необходимые документы и материалы в электронной форме Вы можете в любой последовательности [указываются количество и допустимые форматы файлов].
                  p Иные форматы не обрабатываются в информационных системах [наименование органа].
                  p Информируем Вас, что гарантированная передача файла(ов) вложения на почтовый сервер зависит от пропускной способности используемой Вами сети «Интернет», а получение – от объёма обрабатываемых почтовым сервером переданных файлов.
                  p <b>При подключении Вашего оборудования к сети «Интернет» по выделенным каналам связи с использованием технологий ADSL, 3G, 4G, WiFi и иных технологий, обеспечивающих аналогичные скорости передачи данных в сети «Интернет», передача и обработка файла(ов) с суммарным размером:</b>
                  ul
                    li до 5 Мб осуществляется, как правило, без задержки во времени;
                    li от 5 Мб до 10 Мб может осуществляться с задержкой во времени;
                    li свыше 10 Мб может быть не осуществлена.
                  ol
                    li Если в направленном Вами тексте в форме электронного документа, содержащемся в поле ввода текста обращения в форме электронного документа, не изложено предложение, заявление или жалоба, а только ссылка на приложение (файл вложение) либо на контент интернет-сайта, то в ответе разъясняется порядок его рассмотрения, установленный Федеральным законом от 2 мая 2006 года № 59 «О порядке рассмотрения обращений граждан Российской Федерации».
                    li Обращаем Ваше внимание на порядок рассмотрения отдельных обращений, предусмотренный ст. 11 Федерального закона от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации».
                    li При направлении Вами обращений, касающихся обжалования судебных решений, необходимо иметь в виду следующее.
                  p Согласно Конституции Российской Федерации правосудие в России осуществляется только судом. Органы судебной власти самостоятельны и действуют независимо от законодательной и исполнительной властей. Решения судебных органов обжалуются в установленном законом процессуальном порядке.
                  ul
                    li В случае направления Вами обращения, содержащего вопрос, затрагивающий интересы неопределенного круга лиц, ответ на который был размещен на данном сайте, то Вам в течение семи дней со дня регистрации обращения будет сообщен электронный адрес страницы данного сайта <a href="#">«Ответы на обращения, затрагивающие интересы неопределенного круга лиц»</a>, на которой размещен ответ на вопрос, поставленный в Вашем обращении.
                  p <em>Подчеркивание текста обеспечивает переход по гиперссылке (примечание авт.)</em>
                  ul
                    li <a href="#">Информация о персональных данных авторов обращений</a>, направленных в форме электронного документа, сведения, содержащиеся в обращениях авторов, а также сведения, касающиеся частной жизни авторов, хранятся и обрабатываются с соблюдением требований российского законодательства.
                  p <b>Адрес для отправки обращений в письменной форме в [наименование органа] обычной почтой: 353900 Краснодарский край г.Новороссийск ул.Советов,18</b>
                  p Рассмотрение обращения осуществляется с соблюдением требований законодательства о недопущении разглашения сведений, содержащихся в обращении, а также сведений, касающихся частной жизни гражданина.
                .document-inner__wrapper
                  .document-inner__row
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .pdf
                      .link-doc__block-text
                        h3.link-doc__name Постановление № 6942 от 04.09.2015 г. Об утверждении документов по обработке и защите персональных данных в администрации муниципального образования город Новороссийск
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>605 KB</span>
                  .document-inner__row          
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .doc
                      .link-doc__block-text
                        h3.link-doc__name Федеральный закон от 02.05.2006 N 59-ФЗ (ред. от 27.11.`2017)
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>120 KB</span>
                  .document-inner__row
                    a.link-doc(href="#")
                      .link-doc__wrap
                        svg.link-doc__svg
                          use(xlink:href="img/sprite.svg#icon-doc")
                        span.link-doc__text .pdf
                      .link-doc__block-text
                        h3.link-doc__name Постановление Об утверждении Порядка работы с обращениеми физических и юридических лиц в администрации муниципального образования город Новороссийск
                        .link-doc__row
                          span.date-news 31 Января 2019 (09:39)
                          .link-doc__wrap-text
                            span.link-doc__value Размер: <span>1,2 MB</span>
                  .document-inner__down
                    .block-btn
                      button.block-btn__btn
                        span.block-btn__text Согласен
                    .block-btn 
                      button.block-btn__btn
                        span.block-btn__text Не согласен
                  
                              
      section.portal-slider.portal-slider--border
        .container
          .row
            .col-xl-12
              .portal-slider__container
                .portal-slider__line.swiper-container
                  .portal-slider__wrapper.swiper-wrapper
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Правительство РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem1.png")
                              span.portal-slider__text goverment.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Государственная дума РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem2.png")
                              span.portal-slider__text duma.gov.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Конституционный Суд РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem3.png")
                              span.portal-slider__text ksrf.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Администрация Краснодарского края
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem4.png")
                              span.portal-slider__text admkrai.krasnodar.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title ГКУ КК «ГосЮрБюро Краснодарского края»
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem5.png")
                              span.portal-slider__text gosurburo93.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                    .portal-slider__slide.swiper-slide
                      a.portal-slider__wrap(href="#")
                        .portal-slider__block-text
                          h5.portal-slider__title Правительство РФ
                          .portal-slider__row
                            .portal-slider__block
                              img.portal-slider__icon(src="img/emblem1.png")
                              span.portal-slider__text goverment.ru
                            svg.portal-slider__svg-arrow
                              use(xlink:href="img/sprite.svg#arrow-right-sm")
                .portal-slider__down
                  .portal-slider__arrow.portal-slider__arrow--prev
                    .portal-slider__wrap-svg
                      svg
                        use(xlink:href="img/sprite.svg#arrow-right")
                  .portal-slider__arrow.portal-slider__arrow--next
                    .portal-slider__wrap-svg
                      svg
                        use(xlink:href="img/sprite.svg#arrow-right")                        
                    
        
      
    footer
      include includes/footer.pug
      
                     
                   
    include includes/script.pug