doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Администрация и Дума города Новороссийска
    
    include includes/link.pug
    
  body
    div.container.url-wrap
      div
        a.url-link(href="index.html" target="_blank") Главная страница
      div  
        a.url-link(href="contact-administration.html" target="_blank") Связь с администрацией
      div  
        a.url-link(href="control.html" target="_blank") Управления
      div  
        a.url-link(href="control-inner.html" target="_blank") Управление торговли и потребительского рынка
      div  
        a.url-link(href="divisions.html" target="_blank") Подразделения
      div  
        a.url-link(href="documents.html" target="_blank") Документы
      div  
        a.url-link(href="documents-inner.html" target="_blank") Результаты проведения
      div  
        a.url-link(href="documents-preview.html" target="_blank") Документы администрации
      div  
        a.url-link(href="history.html" target="_blank") История города
      div  
        a.url-link(href="news.html" target="_blank") Новости
      div  
        a.url-link(href="news-inner.html" target="_blank") Новости: внутренняя страница
      div  
        a.url-link(href="news-preview.html" target="_blank") Главные новости
      div  
        a.url-link(href="reception.html" target="_blank") Приемная главы МО г. Новороссийск - форма обратной связи
      div  
        a.url-link(href="reception-text.html" target="_blank") Приемная главы МО г. Новороссийск
      div  
        a.url-link(href="structure.html" target="_blank") Структура администрации
      div  
        a.url-link(href="structure-inner.html" target="_blank") Структура администрации: внутренняя страница
      div  
        a.url-link(href="table-page.html" target="_blank") Эвакуированный транспорт
      div  
        a.url-link(href="media.html" target="_blank") Медиа-альбом
      div  
        a.url-link(href="gallery.html" target="_blank") Галерея
      div  
        a.url-link(href="video.html" target="_blank") Видео
        

      
                     
                   
    include includes/script.pug